.products_title {
  margin-top: 1rem;
  text-align: center;
}

.product_list {
  display: flex;
  list-style-type: none;
  padding: 0.9rem;
  flex-flow: wrap;
  column-gap: 3rem;
  justify-content: center;
}

.product_container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2.7rem;
  width: 13rem;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.product_container:hover {
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.product_image_container {
  text-align: center;
}

.product_vital_details {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
}

.button_container {
  padding-top: 0.4rem;
  text-align: center;
}

.more_info_button {
  appearance: button;
  background-color: #4D4AE8;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid #4D4AE8;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  width: 9rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.more_info_button:focus:not(:focus-visible),
.more_info_button:focus {
  outline: 0;
}

.more_info_button:hover {
  background-color: #3733E5;
  border-color: #3733E5;
  cursor: pointer;
}

.more_info_button:focus {
  background-color: #413FC5;
  border-color: #3E3BBA;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.more_info_button:active {
  background-color: #3E3BBA;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.more_info_button:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.more_info_button:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

@media only screen and (max-width: 360px) {
  .product_list {
    padding: 0;
  }

  .product_container {
    width: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .product_container {
    width: 9rem;
  }

  .more_info_button {
    width: 7rem;
  }
}